__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

.ipynb_checkpoints/

build/
dist/
*.egg-info/

.vscode/
.idea/

.DS_Store

*.log

*.pt
*.pth
!models/final_resnet34_detector.pth
!models/xgb_model.json

*.tmp
*.temp

.env

.pytest_cache/

.coverage
htmlcov/

.streamlit/secrets.toml

*.swp
*.swo